.jumbotron {
  position: relative;
  padding-top: 8em;
  padding-bottom: 8em;
  background-size: 100%;
  color: #fff;
  text-align: center;
}

.nav {
   padding-top: 1em;
   padding-bottom: 1em;
   margin-left: 75%!important;
}

.nav ul {
  display: flex;
  flex-direction: row;
  margin-left: 60em!important;
}

.nav ul li {
  margin-left: 1em;
}

.header {
  padding-top: 8em;
  padding-bottom: 8em;
  background-size: 100%;
  height: 30%;
  max-width: 100%;
}

.header-text {
  position: absolute;
  text-align: center;
  top: 42%;
  margin-left: 40%;
}

.header-text-one {
  margin-top: -10em;
  width: 65%;
  margin-left: 18%;
}

.header-text-one h1 {
  color: #fff!important;
  font-size: 3vw!important;
  margin-bottom: 1em!important;
  margin-left: 2%!important;
}

.header-text-one p {
  font-size: 1.5vw;
}

.header-text-contact {
  position: absolute;
  color: #000;
  text-align: center;
  top: 45%;
  width: 70%;
  margin-left: 18%;
}


h2, h3, h5 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3vw;
}

h2 {
  font-size: 2.5vw!important;
}

h5 {
  font-size: 1.3vw!important;
  color: #fff!important;
}

p {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
}

a {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

.opacity {
  background-color: #000;
  padding-top: 20em;
  padding-bottom: 20em;
  opacity: .8;

}

.navbar li {
  padding-left: 1em;
}

.image-1 {
  width: 70%;
}


.about-text p {
  margin-left: 8em!important;
}


.img {
  background-color: red;
  max-width: 100%;
  height: auto;
}

.home-photos {
  margin-top: 3em;
  margin-bottom: 0em;
  margin-left: 4%;
}

.caption{
  margin-top: -6em;
  margin-bottom: 6em!important;
  margin-left: -3%;

}

.about-caption {
   text-align: center;
   width: 70%;
   margin-left: 11.5%;
   margin-bottom: 5em;

}

.contact {
  width: 70%;
}

.form-group {
  margin-top: .5em;
}

.page-footer {
  background-color: #6699cc;
}

.page-footer a {
  color: #fff;
  padding-top: 3em;
  font-size: 1vw;
}

.page-footer p {
  font-size: 1vw;
}

.footer-1{
  background-color: #6699cc!important;
  color: #fff;
}


.footer-copyright {
  font-size: 1vw;
}

.column-row {
  margin-right: 3em;
}

.column-text {
  margin-left: 2em;
}

.list ul{
  margin-left: -2.9em;
}

.list-content {
  margin-left: 10em;
}

.item{
  margin-bottom: .2em!important;
}

.footer-1 {
  margin-top: 3em;
}

.footer-copyright {
   background-color: #4080bf;
   padding-top: 1em;
   padding-bottom: 1em;
   text-align: center;
   color: #fff;
}


.text {
  margin-top: 1em;
}

.text-section {
  position: absolute;
  color: #000;
  text-align: center;
  top: 6em;
  width: 70%;
  margin-left: 15%;
  font-size: 1.2vw;
}

.text-header {
  margin-bottom: 25px;
}

.home-text-1 {
  width: 80%;
  margin-top: 30%;
  margin-left: 6em;
}

.home-text-2 {
  width: 80%;
  margin-left: 6em;
  margin-top: 10%;
}

.about-text {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;
}


.about-text p {
  width: 75%;
  margin-left: 10.5em;
}

.line {
  background-color: #000;
  margin-bottom: 2em;
  width: 80%;
}


.img-section {
  position: relative;
  opacity: .3;
  margin-top: -2.5em;
}

.about-img {
  margin-left: 17em;
  width: 30%;
  border-radius: 50%;
}

.caption {
  text-align: center;
  margin-bottom: 3em;
  margin-right: 3em;
}

.caption p {
  width: 75%;
  margin-left: 5em;;
}

.button {
  margin-top: 3em!important;
  background-color: #4080bf!important;
  color: #fff!important;
}

.button:hover {
  background-color: #6699cc;
}

.carousel{
   width: 52%;
   margin-left: 25%;
   margin-top: 4%;
   margin-bottom: 4%;
}

.carousel-inner img {
     width: 100%;
     height: 100%;
 }

 .carousel-caption {
   padding: 1em;
   background-color: #000;
 }

@media (min-width: 768px) {
.carousel-multi-item-2 .col-md-3 {
float: left;
width: 25%;
max-width: 100%; } }

.carousel-multi-item-2 .card img {
border-radius: 2px; }
